@import url(http://fonts.googleapis.com/css?family=Erica+One);
/* Font faces we've used */
@font-face {
  font-family: 'LatoLite';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/assets/fonts/LatoLite.woff) format('woff');
}
@font-face {
  font-family: 'LatoLiteItalic';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(/assets/fonts/LatoLiteItalic.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato'), url(/assets/fonts/Lato.woff) format('woff');
}
@font-face {
  font-family: 'LatoItalic';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(/assets/fonts/LatoItalic.woff) format('woff');
}
@font-face {
  font-family: 'LatoBold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/LatoBold.woff) format('woff');
}
@font-face {
  font-family: 'Fatty';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(/assets/fonts/Fatty.woff) format('woff');
}
.latol {
  font-family: 'LatoLite';
}
.lato {
  font-family: 'Lato';
}
.latob {
  font-family: 'LatoBold';
}
.latoli {
  font-family: 'LatoLiteItalic';
}
.latoi {
  font-family: 'LatoLiteItalic';
}
.fatty {
  font-family: 'Fatty';
}
.serif {
  font-family: 'serif';
}
.erica {
  font-family: 'Erica One', cursive;
}
/* font sizes */
.f10 {
  font-size: 10px !important;
  line-height: 14px !important;
}
.f12 {
  font-size: 12px !important;
  line-height: 16px !important;
}
.f14 {
  font-size: 14px !important;
  line-height: 18px !important;
}
.f16 {
  font-size: 16px !important;
  line-height: 20px !important;
}
.f18 {
  font-size: 18px !important;
  line-height: 22px !important;
}
.f20 {
  font-size: 20px !important;
  line-height: 24px !important;
}
.f24 {
  font-size: 24px !important;
  line-height: 24px !important;
}
/* placeholder */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'LatoLite';
  position: relative;
}
a {
  text-decoration: none;
  color: #000000;
  font-family: 'Lato';
}
a:hover {
  text-decoration: underline;
}
b {
  font-family: 'LatoBold';
  letter-spacing: 1px;
}
html {
  height: 100%;
  position: relative;
}
div {
  overflow: auto;
}
h1 {
  margin-top: 0;
  margin-bottom: 8px;
  color: #c41e6f;
  font-family: 'LatoBold';
  font-size: 40px;
}
hr {
  border-left: 0;
  border-top: 0;
  margin: 8px 0 4px;
}
p {
  margin: 16px 0;
}
body {
  color: #000000;
  min-height: 100%;
  position: relative;
  background: url(/assets/img/bg.png);
}
hr.double {
  margin: 8px 0px;
  height: 3px;
  border-bottom: 2px solid #aaaaaa;
  border-top: 2px solid #aaaaaa;
}
.cms h1 {
  color: #803494;
  margin: 24px 0 8px;
}
.cms p {
  margin: 0px 0px 12px;
  font-size: 20px !important;
  line-height: 24px !important;
}
.border {
  border: 2px solid #e4dac5;
}
.fancy-title {
  background: #c41e6f;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  font-family: 'Lato';
  font-size: 24px;
  padding: 10px 12px 12px;
  display: inline-block;
  overflow: visible;
  height: 50px;
}
.fancy-title .t {
  position: absolute;
  width: 0;
  height: 0;
  border: 0px;
  -moz-transform: scale(1.001);
  display: block;
}
.fancy-title .t:nth-child(1) {
  right: -20px;
  bottom: 0px;
  border-right: 20px solid transparent;
  border-bottom: 25px solid #c41e6f;
}
.fancy-title .t:nth-child(2) {
  right: -20px;
  top: 0px;
  border-right: 20px solid transparent;
  border-top: 25px solid #c41e6f;
}
.fancy-title .t:nth-child(3) {
  left: -20px;
  bottom: 0px;
  border-left: 20px solid transparent;
  border-bottom: 25px solid #c41e6f;
}
.fancy-title .t:nth-child(4) {
  left: -20px;
  top: 0px;
  border-left: 20px solid transparent;
  border-top: 25px solid #c41e6f;
}
.fancy-title2 {
  background: #c41e6f;
  color: #fbfbf9;
  text-shadow: 1px 1px 1px #000000;
  font-family: 'Erica One', cursive;
  font-size: 32px;
  padding: 14px 0px 20px;
  letter-spacing: 2px;
}
.c3bg {
  background: #fbfbf9;
}
.bar {
  background: #cdc7bf;
  height: 300px;
  overflow: hidden;
}
.bar span {
  position: absolute;
  bottom: 140px;
  left: -96px;
  display: inline-block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  width: 280px;
}
.bar1 {
  margin-top: 50px;
  height: 250px;
}
.bar2 {
  margin-top: 90px;
  height: 210px;
}
.bar3 {
  height: 280px;
  margin-top: 20px;
}
.bar4 {
  margin-top: 130px;
  height: 170px;
}
.bar5 {
  margin-top: 140px;
  height: 160px;
}
.adsbygoogle {
  background: #aaaaaa;
}
/* Important elements (main wrappers, footers, headers) */
div#content-wrap {
  padding-top: 20px;
}
#topbar {
  margin: 0;
  padding: 0;
  overflow: visible;
  background: #803494;
  line-height: 0px !important;
  letter-spacing: -3px;
}
#topbar a {
  letter-spacing: 0px;
  display: inline-block;
  height: 0px;
  line-height: 0px;
  padding: 22px 2% 28px;
  margin: 0px;
  color: #ffffff;
  font-family: 'LatoLite';
  font-size: 20px;
  /*img{
			height:100%;
		}*/
}
#topbar a:hover {
  background: #a141ba;
  text-decoration: none;
}
#topbar a:first-child {
  padding: 0;
  height: 50px;
}
#footer {
  color: #cdc7bf;
  background: #803494;
  position: absolute;
  padding: 0;
  bottom: 0px;
  width: 100%;
  font-size: 16px;
  height: 180px;
}
#footer a {
  color: #ffffff;
}
#seo {
  height: 0px;
  overflow: hidden;
}
.notifications {
  max-width: 800px;
  margin: 10px auto;
  background: #cdc7bf;
  color: #f6f6f3;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* Forms and Fields */
input,
button,
select {
  font-size: 14px !important;
  line-height: 18px !important;
  background: #cdc7bf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #000000;
  height: 30px;
  width: 90%;
  max-width: 300px;
  margin-bottom: 4px;
  text-align: center;
}
input[type="submit"],
input[type="button"],
button {
  background: #cdc7bf;
  color: #000000;
  border: 1px solid #000000;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
}
/* style chosen to match other inputs */
.chosen-single {
  height: 30px !important;
  display: block !important;
  font-size: 18px;
}
.chosen-single span {
  line-height: 26px !important;
}
.overlay-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.5;
  display: none;
}
.overlay-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  display: none;
}
.center-wrap {
  max-width: 720px;
  margin: 0 auto;
  min-width: 320px;
}
.errors {
  color: #ffffff;
  border: 1px solid #f6f6f3;
  margin: 4px;
  padding: 4px;
}
/* spacers */
.spacer100 {
  height: 100px;
}
.spacerv100 {
  width: 100px;
  height: 1px;
}
.spacer95 {
  height: 95px;
}
.spacerv95 {
  width: 95px;
  height: 1px;
}
.spacer90 {
  height: 90px;
}
.spacerv90 {
  width: 90px;
  height: 1px;
}
.spacer85 {
  height: 85px;
}
.spacerv85 {
  width: 85px;
  height: 1px;
}
.spacer80 {
  height: 80px;
}
.spacerv80 {
  width: 80px;
  height: 1px;
}
.spacer75 {
  height: 75px;
}
.spacerv75 {
  width: 75px;
  height: 1px;
}
.spacer70 {
  height: 70px;
}
.spacerv70 {
  width: 70px;
  height: 1px;
}
.spacer65 {
  height: 65px;
}
.spacerv65 {
  width: 65px;
  height: 1px;
}
.spacer60 {
  height: 60px;
}
.spacerv60 {
  width: 60px;
  height: 1px;
}
.spacer55 {
  height: 55px;
}
.spacerv55 {
  width: 55px;
  height: 1px;
}
.spacer50 {
  height: 50px;
}
.spacerv50 {
  width: 50px;
  height: 1px;
}
.spacer45 {
  height: 45px;
}
.spacerv45 {
  width: 45px;
  height: 1px;
}
.spacer40 {
  height: 40px;
}
.spacerv40 {
  width: 40px;
  height: 1px;
}
.spacer35 {
  height: 35px;
}
.spacerv35 {
  width: 35px;
  height: 1px;
}
.spacer30 {
  height: 30px;
}
.spacerv30 {
  width: 30px;
  height: 1px;
}
.spacer25 {
  height: 25px;
}
.spacerv25 {
  width: 25px;
  height: 1px;
}
.spacer20 {
  height: 20px;
}
.spacerv20 {
  width: 20px;
  height: 1px;
}
.spacer15 {
  height: 15px;
}
.spacerv15 {
  width: 15px;
  height: 1px;
}
.spacer10 {
  height: 10px;
}
.spacerv10 {
  width: 10px;
  height: 1px;
}
.spacer5 {
  height: 5px;
}
.spacerv5 {
  width: 5px;
  height: 1px;
}
.spacer0 {
  height: 0px;
}
.spacerv0 {
  width: 0px;
  height: 1px;
}
/* padding */
.pad40 {
  padding: 40px;
}
.pad40t {
  padding-top: 40px;
}
.pad40b {
  padding-bottom: 40px;
}
.pad40r {
  padding-right: 40px;
}
.pad40l {
  padding-left: 40px;
}
.pad38 {
  padding: 38px;
}
.pad38t {
  padding-top: 38px;
}
.pad38b {
  padding-bottom: 38px;
}
.pad38r {
  padding-right: 38px;
}
.pad38l {
  padding-left: 38px;
}
.pad36 {
  padding: 36px;
}
.pad36t {
  padding-top: 36px;
}
.pad36b {
  padding-bottom: 36px;
}
.pad36r {
  padding-right: 36px;
}
.pad36l {
  padding-left: 36px;
}
.pad34 {
  padding: 34px;
}
.pad34t {
  padding-top: 34px;
}
.pad34b {
  padding-bottom: 34px;
}
.pad34r {
  padding-right: 34px;
}
.pad34l {
  padding-left: 34px;
}
.pad32 {
  padding: 32px;
}
.pad32t {
  padding-top: 32px;
}
.pad32b {
  padding-bottom: 32px;
}
.pad32r {
  padding-right: 32px;
}
.pad32l {
  padding-left: 32px;
}
.pad30 {
  padding: 30px;
}
.pad30t {
  padding-top: 30px;
}
.pad30b {
  padding-bottom: 30px;
}
.pad30r {
  padding-right: 30px;
}
.pad30l {
  padding-left: 30px;
}
.pad28 {
  padding: 28px;
}
.pad28t {
  padding-top: 28px;
}
.pad28b {
  padding-bottom: 28px;
}
.pad28r {
  padding-right: 28px;
}
.pad28l {
  padding-left: 28px;
}
.pad26 {
  padding: 26px;
}
.pad26t {
  padding-top: 26px;
}
.pad26b {
  padding-bottom: 26px;
}
.pad26r {
  padding-right: 26px;
}
.pad26l {
  padding-left: 26px;
}
.pad24 {
  padding: 24px;
}
.pad24t {
  padding-top: 24px;
}
.pad24b {
  padding-bottom: 24px;
}
.pad24r {
  padding-right: 24px;
}
.pad24l {
  padding-left: 24px;
}
.pad22 {
  padding: 22px;
}
.pad22t {
  padding-top: 22px;
}
.pad22b {
  padding-bottom: 22px;
}
.pad22r {
  padding-right: 22px;
}
.pad22l {
  padding-left: 22px;
}
.pad20 {
  padding: 20px;
}
.pad20t {
  padding-top: 20px;
}
.pad20b {
  padding-bottom: 20px;
}
.pad20r {
  padding-right: 20px;
}
.pad20l {
  padding-left: 20px;
}
.pad18 {
  padding: 18px;
}
.pad18t {
  padding-top: 18px;
}
.pad18b {
  padding-bottom: 18px;
}
.pad18r {
  padding-right: 18px;
}
.pad18l {
  padding-left: 18px;
}
.pad16 {
  padding: 16px;
}
.pad16t {
  padding-top: 16px;
}
.pad16b {
  padding-bottom: 16px;
}
.pad16r {
  padding-right: 16px;
}
.pad16l {
  padding-left: 16px;
}
.pad14 {
  padding: 14px;
}
.pad14t {
  padding-top: 14px;
}
.pad14b {
  padding-bottom: 14px;
}
.pad14r {
  padding-right: 14px;
}
.pad14l {
  padding-left: 14px;
}
.pad12 {
  padding: 12px;
}
.pad12t {
  padding-top: 12px;
}
.pad12b {
  padding-bottom: 12px;
}
.pad12r {
  padding-right: 12px;
}
.pad12l {
  padding-left: 12px;
}
.pad10 {
  padding: 10px;
}
.pad10t {
  padding-top: 10px;
}
.pad10b {
  padding-bottom: 10px;
}
.pad10r {
  padding-right: 10px;
}
.pad10l {
  padding-left: 10px;
}
.pad8 {
  padding: 8px;
}
.pad8t {
  padding-top: 8px;
}
.pad8b {
  padding-bottom: 8px;
}
.pad8r {
  padding-right: 8px;
}
.pad8l {
  padding-left: 8px;
}
.pad6 {
  padding: 6px;
}
.pad6t {
  padding-top: 6px;
}
.pad6b {
  padding-bottom: 6px;
}
.pad6r {
  padding-right: 6px;
}
.pad6l {
  padding-left: 6px;
}
.pad4 {
  padding: 4px;
}
.pad4t {
  padding-top: 4px;
}
.pad4b {
  padding-bottom: 4px;
}
.pad4r {
  padding-right: 4px;
}
.pad4l {
  padding-left: 4px;
}
.pad2 {
  padding: 2px;
}
.pad2t {
  padding-top: 2px;
}
.pad2b {
  padding-bottom: 2px;
}
.pad2r {
  padding-right: 2px;
}
.pad2l {
  padding-left: 2px;
}
.pad0 {
  padding: 0px;
}
.pad0t {
  padding-top: 0px;
}
.pad0b {
  padding-bottom: 0px;
}
.pad0r {
  padding-right: 0px;
}
.pad0l {
  padding-left: 0px;
}
/* silly stuff */
/* placeholders */
::-webkit-input-placeholder {
  color: #f6f6f3;
  font-family: 'LatoItalic';
}
:-moz-placeholder {
  color: #f6f6f3;
  font-family: 'LatoItalic';
}
::-moz-placeholder {
  color: #f6f6f3;
  font-family: 'LatoItalic';
}
:-ms-input-placeholder {
  color: #f6f6f3;
  font-family: 'LatoItalic';
}
.w300 {
  width: 300px;
}
.w20pc {
  width: 19.999999%;
  float: left;
}
.w25pc {
  width: 24.999999%;
  float: left;
}
.w33pc {
  width: 33.333333%;
  float: left;
}
.w37pc {
  width: 36.999999%;
  float: left;
}
.w40pc {
  width: 39.999999%;
  float: left;
}
.w50pc {
  width: 49.999999%;
  float: left;
}
.w60pc {
  width: 59.999999%;
  float: left;
}
.w63pc {
  width: 62.999999%;
  float: left;
}
.w66pc {
  width: 66.666666%;
  float: left;
}
.w75pc {
  width: 74.999999%;
  float: left;
}
.w80pc {
  width: 79.999999%;
  float: left;
}
.w100pc {
  width: 99.999999%;
  float: left;
}
.w960 {
  width: 960px;
}
/* formatting */
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
}
.inline {
  display: inline;
}
.hide {
  display: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-center {
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  overflow: hidden;
}
.visible {
  overflow: visible;
}
/* fixing our plugins */
.chosen-container {
  overflow: visible;
  text-align: left;
}
.chosen-container a span {
  line-height: 30px;
  text-align: center;
}
.chosen-search {
  overflow: visible;
}
.chosen-search input {
  max-width: 1000000px;
}
.projekktor * {
  overflow: visible;
}
